body {
  margin: 0;
}

img#main-logo {
    width: 100%;
}

nav {
    background-color: black;
}

a{
    color: white;
    display: inline-block;
}

/*ul{
    width: 10px;
    display: inline-block;
}*/

/*img#main-park {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 20px;
}

.main-info {
    display: inline-block;
    vertical-align: top;
    width: 55%;
    
}

ul {
    list-style-type: none;
}*/

/*p#main-description {
    display: inline-block;
    width: 55%;
    position: relative;

}*/