@model List<NPGeek.Web.Models.ParkModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="parks">
    @foreach (var park in Model)
    {
        <div class="park-image">
                <a href="@Url.Action("ParkDetail", "Detail",  new { id = park.ParkCode})"><img id="main-park" src="~/Content/@(park.ParkCode).jpg"></a>
                <h2 id="main-name">@park.ParkName</h2>
                <p id="main-description">@park.ParkDescription</p>
        </div>
    }

</section>

