@model List<NPGeek.Web.Models.ParkModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <section id="main-parks">
        @foreach (var park in Model)
    {


        <a id="park-detail" href="@Url.Action("ParkDetail", "Detail",  new { id = park.ParkCode})"><img id="home-pics" class="img-responsive center-block" src="~/Content/@(park.ParkCode).jpg"></a>

        <div id="main-info">
            <h2 id="main-name" class="text-center">@park.ParkName</h2>
            <p id="main-description" class="text-center">@park.ParkDescription</p>
        </div>
}
    </section>
</div>
