@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Park Geek</title>
    <link rel="stylesheet" href="">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>

<body>
    <header>
        <img src="~/Content/logo.png" alt="NPS Logo">
        <h1>National Park Geek</h1>
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Survey", "SurveyView", "Survey")</li>
           
        </ul>
    </nav>

    @RenderBody()

</body>
</html>
