@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Park Geek</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <header>
        <img src="~/Content/logo.png" alt="NPS Logo">
        <h1>National Park Geek</h1>
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Index", "Home")</li>
            @*<li>@Html.ActionLink("")</li>*@
           
        </ul>
    </nav>

    @RenderBody()

</body>
</html>
