@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Park Geek</title>
    <link rel="stylesheet" href="">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>

<body>
    <header>
        <img id="main-logo" src="~/Content/logo.png" alt="NPS Logo">
    </header>
    <nav>
        <ul>
            <li id="1">@Html.ActionLink("HOME", "Index", "Home")</li>
            <li id="2">@Html.ActionLink("SURVEY", "SurveyView", "Survey")</li>
           
        </ul>
    </nav>

    @RenderBody()

</body>
</html>
