@model List<NPGeek.Web.Models.WeatherModel>
@{
    Layout = null;
    string img = Model[0].Forecast.Replace(" ", "");
}


<div class="today">
    <h3>Today:</h3>
    <img src="~/Content/@(img).png" />
    <p>High @(Model[0].High) F</p>
    <p>Low @(Model[0].Low) F</p>
</div>

<div class="rest-of-week">
    @for (int i = 1; i < Model.Count(); i++)
    {
        img = Model[i].Forecast.Replace(" ", "");

        <img src="~/Content/@(img).png">
        <p>High @(Model[i].High) F</p>
        <p>Low @(Model[i].Low) F</p>
    }
</div>



