@model List<NPGeek.Web.Models.WeatherModel>
@{
    Layout = null;
    string img = Model[0].Forecast.Replace(" ", "");

}

<div class="today">
    <h3>Today:</h3>
    <img src="~/Content/@(img).png" />
    <p>High @(Model[0].High) F</p>
    <p>Low @(Model[0].Low) F</p>

    @if((Model[0].High - Model[0].Low) >= 20)
    {
        <p>Wear breathable layers!</p>
    }
    else if (Model[0].Low < 20)
    {
        <p>CAUTION: Frigid temperatures could be dangerous!</p>
    }
    else if (Model[0].Forecast == "snow")
    {
        <p>Make sure you pack snowshoes!</p>
    }
    else if (Model[0].Forecast == "rain")
    {
        <p>Make sure you pack rain gear and wear waterprooof shoes!</p>
    }
    else if (Model[0].Forecast == "thunderstorms" && Model[0].High > 75 || Model[0].Low > 75)
    {
        <p>Seek shelter, avoid hiking on exposed ridges and bring an extra gallon of water!</p>
    }
    else if (Model[0].Forecast == "thunderstorms")
    {
        <p>Seek shelter and avoid hiking on exposed ridges!</p>
    }
    else if (Model[0].Forecast == "sunny" && Model[0].High > 75 || Model[0].Low > 75)
    {
        <p>Make sure you pack sunblock and an extra gallon of water!</p>
    }
    else if (Model[0].Forecast == "sunny")
    {
        <p>Make sure you pack sunblock!</p>
    }
</div>

<div class="rest-of-week">
    @for (int i = 1; i < Model.Count(); i++)
    {
        img = Model[i].Forecast.Replace(" ", "");

        <img src="~/Content/@(img).png">
        <p>High @(Model[i].High) F</p>
        <p>Low @(Model[i].Low) F</p>

        if ((Model[i].High - Model[i].Low) >= 20)
        {
            <p>Wear breathable layers!</p>
        }
        else if (Model[i].Low < 20)
        {
            <p>CAUTION: Frigid temperatures could be dangerous!</p>
        }
        else if (Model[i].Forecast == "snow")
        {
            <p>Make sure you pack snowshoes!</p>
        }
        else if (Model[i].Forecast == "rain")
        {
            <p>Make sure you pack rain gear and wear waterprooof shoes!</p>
        }
        else if (Model[i].Forecast == "thunderstorms" && Model[i].High > 75 || Model[i].Low > 75)
        {
            <p>Seek shelter, avoid hiking on exposed ridges and bring an extra gallon of water!</p>
        }
        else if (Model[i].Forecast == "thunderstorms")
        {
            <p>Seek shelter and avoid hiking on exposed ridges!</p>
        }
        else if (Model[i].Forecast == "sunny" && Model[i].High > 75 || Model[i].Low > 75)
        {
            <p>Make sure you pack sunblock and an extra gallon of water!</p>
        }
        else if (Model[i].Forecast == "sunny")
        {
            <p>Make sure you pack sunblock!</p>
        }
    }
</div>
 


