@model List<NPGeek.Web.Models.SurveyResult>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="parks">


    @foreach (var park in Model)
    {
        <img src="~/Content/@(park.ParkCode).jpg" />

        <p>@park.ParkName</p>
        <p>@park.VoteCount</p>

    }


</section>
