@model List<NPGeek.Web.Models.ParkModel> 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="parks">


    @foreach (var park in Model)
    {
        <p>@park.ParkName</p>

    }


</section>
